*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: #fffbea;
    display: flex;
    /* background-color: aqua; */
}

#menuEsquerda{
    z-index: 2;
    width: 20vw;
    height: 100vh;
    background-color: #fafafa;
    /* background-color: aqua; */
    box-shadow: 10px 3px 21px rgba(92, 92, 92, 0.705);
}
#menuEsquerda #topoMenuEsquerda{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #5BB54C;
    padding-top: 5%;
}
#menuEsquerda #topoMenuEsquerda img{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}
#menuEsquerda #topoMenuEsquerda p{
    margin: 5px 0;
    font-size: 19px;
    color: #E37F2A;
    text-decoration: underline;
}
#menuEsquerda #topoMenuEsquerda p:last-child{
    color: #944907;
}
#menuEsquerda #topoMenuEsquerda div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
#menuEsquerda #topoMenuEsquerda div img{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

#menuEsquerda #opcoesMenu{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
#menuEsquerda #opcoesMenu ul{
    list-style: none;
    padding: 0%;
}
#menuEsquerda #opcoesMenu li{
    margin: 4vh 0;
    height: max-content;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    color: #E37F2A;

}


#menuEsquerda #opcoesMenu button{
    width: 12vw;
    height: 9vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #E37F2A;
}
#menuEsquerda #opcoesMenu button #graficIcon{
    width: 30%;
    height: 85%;
    margin-right: 0.8vw;
}
#menuEsquerda #opcoesMenu button:hover{
    cursor: pointer;
    transform: scale(1.1);

    color: #5BB54C;
    transition: all 0.6s;
}
#menuEsquerda #opcoesMenu button img{
    width: 35%;
    height: 90%;
}


/* estilo dos dashboards */

#graficos{
    width: 78vw;
    height: auto;
    /* display: flex; */
    /* align-items:center; */
    /* flex-direction: column; */
    padding: 3vh 3vw;
}

#graficos #filtro{
    background-color: #FFE581;
    width: 60vw;
    height: 7vh;
    border-radius: 20px;
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#graficos #filtro h3{
    color: #135E06;
}
#graficos #filtro img{
    width: 3vw;
    height: 6vh;
}
#graficos #referencia{
    width: 30%;
    /* background-color: #5BB54C; */
    display: flex;
    justify-content: space-around;
    margin: 2vh  auto;

}
.verde{
    color: #135E06;
}
.laranja{
    color: #FF7500;
}
#graficos #referencia p{
    font-size: 22px;
}
#graficos #areaRelatorio #graficoRelatorioGeral{
    /* background-color: #5BB54C; */
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#graficos #areaRelatorio .graficoRelatorio{
    width: fit-content;
    height: fit-content;
    padding: 2% 3%;
    background-color: #fffff5;
    border: #FF7500 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 2%;
}
#graficos #areaRelatorio #graficoRelatorio1 h4{
    font-weight: 550;
}
#graficos #areaRelatorio #graficoRelatorioGeral #picos{
    width: 18vw;
    height: 14vh;
    background-color: #5bc8483a;
    border: #135E06 1px solid;
    border-radius: 105px;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around   ;
    flex-direction: column;
}
#graficos #areaRelatorio #graficoRelatorioGeral #picos h4{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* background-color: #E37F2A; */
}
#graficos #areaRelatorio #graficoRelatorioGeral #media{
    width: fit-content  ;
    height: 32vh;
    background-color: #5bc8483a;
    border: #135E06 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 1.8%;
}
#graficos #areaRelatorio #graficoRelatorioGeral #media div{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: start;
}
#graficos #areaRelatorio #graficoRelatorioGeral #media div:last-child{
    align-items: center;;
    justify-content: flex-end;
}
#graficos #areaRelatorio #graficoRelatorioGeral #media img{
    width: 17vw;
    height: 16vh;
}
#graficos #areaTemperatura{
    /* background-color: #5BB54C; */
    width: 90%;
    margin: auto;
    height: auto;
}
#graficos #areaTemperatura #graficoTemperatura{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;

}
#graficos #areaTemperatura #graficoTemperatura div:last-child{
    width: 40%;
    height: 70vh;
    /* background-color: #000000; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
#graficos #areaTemperatura #graficoTemperatura #tempIndicador{
    background-color: #f1ffe1c7;
    border: #E37F2A solid 1px;
    border-radius: 15px;
    padding: 5%;
    padding-left: 0;
    display: flex;
    align-items: center;
}
#graficos #areaTemperatura #graficoTemperatura div:last-child div{
    height: 50%;
    /* background: #5BB54C; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #222222;
    width: 13vw;
}
#graficos #areaTemperatura #graficoTemperatura div:last-child div h4{
    width: 90%;
}
#graficos #areaTemperatura #graficoTemperatura div:last-child img{
    width: 7vw;
    height: 13vw;
    /* background-color: #944907; */
}
#graficoLinhaTemp{
    background-color: #f1ffe1c7;
    padding: 4%;
    border: 1px solid #E37F2A;
    border-radius: 15px;
}

/*  */
.fade {
    animation: fade 1s;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }